@model IEnumerable<StoreManagement_MVC.Models.Purchase>

@{
    ViewBag.Title = "PurchaseDetails";
}



<style>
    th, td {
        font-size: 20px;
        color: white;
    }

    a {
        color: white;
    }
</style>

<h2>Purchase Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>Edit </th>
        <th>Delete </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <h1 class="btn btn-primary">  @Html.ActionLink("Edit", "Edit", new { id = item.id }) </h1> </td>
                <td>
                    <h1 class="btn btn-primary">   @Html.ActionLink("Delete", "Delete", new { id = item.id })</h1>
</td>
        </tr>
    }

</table>
